/* Estilo para a janela */
.janela {
  width: 650px;
  height: 900px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para o tema dark */
.dark {
  background-color: #333;
  color: #fff;
}

/* Estilos para o tema light */
.light {
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos para o tema system */
.system {
  background-color: initial;
  color: initial;
}

/* Estilo para o conteúdo dentro da janela */
.conteudo {
  text-align: center;
}

/* Estilos para o combobox */
#temaSelector {
  position: fixed;
  bottom: 50px;
  left: 15%;
  width: 100px; /* Definindo o tamanho */
  transform: translateX(-50%);
}

/* Defina sua cor teal personalizada */
.bg-teal {
  background-color: #008080; /* Aqui você pode ajustar o valor hexadecimal da cor para obter a tonalidade desejada */
  /* border-radius: 25px; Borda arredondada */
  border-top-left-radius: 20px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 20px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 5px; /* Arredonda o canto superior esquerdo */
  border-bottom-right-radius: 5px; /* Arredonda o canto superior direito */
}

/* Estilo para botão com cor dinâmica */
.btn-dynamic {
  /* Estilo padrão para o botão (claro) */
  background-color: #f8f9fa; /* Cor de fundo padrão para o tema claro */
  color: #212529; /* Cor do texto padrão para o tema claro */
  border-color: #f8f9fa; /* Cor da borda padrão para o tema claro */
}
/* Estilo para botão com cor dinâmica no tema escuro */
.btn-dark .btn-dynamic {
  /* Estilo para o botão no tema escuro */
  background-color: #343a40; /* Cor de fundo para o tema escuro */
  color: #f8f9fa; /* Cor do texto para o tema escuro */
  border-color: #343a40; /* Cor da borda para o tema escuro */
}

.custom-dropdown-size {
  min-width: 250px !important; /* Ajuste o tamanho conforme necessário */
  padding-top: 5.333px; /* Defina o padding superior conforme necessário */
  padding-bottom: 5.333px; /* Defina o padding inferior conforme necessário */
}

.custom-dropdown-size-seta {
  min-width: 30px !important; /* Ajuste o tamanho conforme necessário */
  padding-top: 5.333px; /* Defina o padding superior conforme necessário */
  padding-bottom: 5.333px; /* Defina o padding inferior conforme necessário */
}

.borda-dropdown-morador {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  min-height: 30px;
}

.custom-dropdown-size-apto {
  min-width: 147px !important; /* Ajuste o tamanho conforme necessário */
  padding-top: 5.333px; /* Defina o padding superior conforme necessário */
  padding-bottom: 5.333px; /* Defina o padding inferior conforme necessário */
  margin-top: 0;
  left: 42% !important;
  transform: translateX(-50%);
}

.custom-form-label {
  margin-bottom: 0.5rem;
}

.btn-wide {
  width: 200px; /* Defina a largura desejada */
  border-radius: 2rem;
}

body {
  background-image: url("background.jpg");
  background-size: cover; /* A imagem cobrirá toda a área do elemento */
  background-repeat: no-repeat; /* A imagem não será repetida */
}

.nao-valido {
  border-color: #dc3545;
  color: #dc3545;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-info {
  background: #fff;
  color: #4682b4;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
